/* ------------------------------------------------------------------------ */
/* hugo-tufte.css */
/* Contains extensions to the original tufte.css styles to */
/* accomodate a blog-like site. */
/* ------------------------------------------------------------------------ */

/* When setting the primary font stack, apply it to the Pure grid units along */
/* with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use */
/* specific font stacks to ensure the greatest OS/browser compatibility. */
html, button, input, select, textarea, p, nav, section, article, header, footer, .pure-g [class *= "pure-u"] {
    font-family: "Roboto Condensed", -apple-system, "San Francisco", "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue", "Lucida Grand", sans-serif;
}

body.index {
    width: 75%;
    padding-left: 25%;
}

/* Hugo code blocks are <pre><code class="language-$lang">...</code></pre> */
/*@media screen and (max-width: 760px) {
    pre code {
    }
}*/

code {
    font-family: "Fira Code", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
    width: 30em;
    font-weight: 400;
}

pre code {
    width: 75%;
    font-size: 1.1rem;
    padding-left: 2.5%;
    display: block;
    overflow-x: scroll;
}

/*@media (max-width: 760px) {
    pre code {
        width: 90%;
        padding: 0;
    }
 }*/

/* ------------------------------------------------------------------------ */
/* Brand details, such as a sidebar or top display. */
/* ------------------------------------------------------------------------ */
header.brand{
    margin-top: 0.5em;
    margin-bottom: 3rem;
}

/* Main brand title */
header.brand h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 4.5rem;
    font-weight: 400;
}

header.brand h2 {
    margin: 0;
    padding-top: 0.25rem;
    /*font-style: normal;*/
    font-weight: 200;
}

header.brand hr {
    text-align: left;
    margin-left: 0;
    width: 75%;
}

nav.menu ul {
    list-style: none;
    display: block;
    /*text-align:center;*/
    margin-top: 0.75rem;
    padding: 0;
    max-width: 45rem;
    /* Width is the same as tufte.css body */
    font-size: .9rem;
    width: 87.5%;
}

nav.menu li {
	display: inline-block;
	margin-right: 1rem;
}

nav.menu li a {
    text-decoration: none;
    background: transparent;
    color: rgba(65, 70, 75, 1);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav.menu li a:hover,
nav.menu li a:active,
nav.menu li a:focus {
    background: inherit;
    color: darkgray;
}

/* ------------------------------------------------------------------------ */
/* Generic content, such as the index list pages */
/* ------------------------------------------------------------------------ */

/* Content Title styling.  This is mostly to avoid underlying links. */

/* This places the carat left in the margin to the left of the post title */
#top-of-post i {
    display: inline;
    background: transparent;
    font-size: 25px;
    padding-right: 15px;
    margin-left: -37px;
    vertical-align: 5px
}

h1.content-title {
    /*max-width: 50rem;*/
    display: inline;
}
h1.content-title a:link,
h1.content-title a:visited {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
h1.content-title a:hover,
h1.content-title a:focus {
    color: darkgray;
}

/* Content meta-data such as author, publication date, etc. */
.content-meta {
    display: block;
    /*color: rgba(155, 155, 155, 1);*/
    color: rgba(100, 105, 110, 1);
    font-size: 1.1rem;
    margin-top: 1em;
}

.content-meta .author {
    /*color: rgb(90, 20, 55)*/
    color: rgba(65, 70, 75, 1);
}

p.post-summary-end {
    margin-bottom: 3rem;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 2rem;
}


.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

/* ------------------------------------------------------------------------ */
 /* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-page ul {
    list-style-type: none;
    margin: -0.25em;
    width: 87.5%;
    max-width: 45rem;
}
.list-page li {
    margin: 0;
    /*font-size: 95%;*/
}
.list-date {
  display: inline;
  font-size: 0.75em;
  /* padding-right: 2em; */
  /* margin-right: 2em; */
}

/* Table of Contents */
.toc summary {
    font-size: 1.5rem;
    margin-bottom: -1.5rem;
    padding-left: 0;
}

.toc {
	/*float: right;*/
	/*padding: 0rem 1rem 1rem 1rem;*/
    /*margin-top: 1rem;*/
	/*border-left: 1px solid #eee;*/
}

.toc ul {
	list-style: none;
	display: block;
	/*margin-top: 0.75rem;*/
	padding: 0;
    width: 87.5%;
}

.toc li {
    line-height: 0.5rem;
    margin: 1rem;
}

table { width: 55%;
    text-align: right;
    margin: 1.4rem 1%;
    border-spacing: 0 5px;
    empty-cells: show;
    -webkit-font-feature-settings: 'tnum'; /* This is technically redundant */
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum'; 
}

thead th { border-bottom: 1px solid #AAAAAA;
       font-weight: 400;
       border-collapse: separate;
       border-spacing: 5px 5px; 
       padding: .5em .7em;
    }

tbody tr {
    padding: .5em .7em;
    clear: both;
}

td {
    padding: .5em .7em;
    border-bottom: 1px solid #dfdfdf;
}

td.text { 
    text-align: left; 
}

table > caption { 
    float:right;
    clear:right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.6; 
}

span.table-label { padding-top: 8px; } /* to maintain height relative to table header row */

/* Footer, but with a different name to avoid conflicts with tufte.css */
footer.page-footer{
    padding-top: 1em;
    margin-top: 1em;
    color: #aaa;
    width: 95%;
    max-width: 45rem;
}
footer.page-footer p {
    font-size: 1.2rem;
    margin: 0em;
    /* light font looked odd on chrome */
    /*font-weight: lighter;*/
}
footer.page-footer a {
    color: rgba(65, 70, 75, 1);
    text-decoration: none;
    background: transparent;
}
footer.page-footer hr {
    text-align: left;
    margin-left: 0;
    width: 100%;
    border-color: rgba(250, 250, 250, 0.25);
}

footer.page-footer ul.page-footer-menu {
	list-style: none;
	display: block;
	/*text-align:center;*/
	margin: 0;
	padding: 0;
}

footer.page-footer ul.page-footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 55%;
}

.copyright {
}
.copyright p {
    font-size: 90%;
}

/* ------------------------------------------------------------------------ */
/* Post Archive. */
/* ------------------------------------------------------------------------ */
/* We utilize the html5 summary tags in order to create a post archive */
/* with built-in folding. */
details {
    border-radius: 3px;
}

details summary {
    vertical-align: top;
    padding: .3em .5em;
    outline: none;
    /*color: rgba(65, 70, 75, 1);*/
}

details summary.year {
    font-size: 1.5rem;
}

details[open] summary {
}



/* ------------------------------------------------------------------------ */
/*  MathJax styling
/* ------------------------------------------------------------------------ */
.MathJax {
    font: inherit;
    color: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
}

.MathJax_Display {
    font: inherit;
    color: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    padding-bottom: 1rem;
    /* max-width: 45rem; */
    overflow-x: auto;
    overflow-y: auto;
}
